body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #faf8ef;
  margin: 0;
}

.game-container {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-gap: 10px;
  background-color: #bbada0;
  padding: 10px;
  border-radius: 5px;
}

#timer {
  font-size: 20px;
  margin-bottom: 10px;
  color: #776e65;
  font-weight: bold;
}


.tile {
  width: 80px;
  height: 80px;
  background-color: #cdc1b4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 3px;
}

.tile-2 { background-color: #eee4da; color: #776e65; }
.tile-4 { background-color: #ede0c8; color: #776e65; }
.tile-8 { background-color: #f2b179; color: #f9f6f2; }
.tile-16 { background-color: #f59563; color: #f9f6f2; }
.tile-32 { background-color: #f67c5f; color: #f9f6f2; }
.tile-64 { background-color: #f65e3b; color: #f9f6f2; }
.tile-128 { background-color: #edcf72; color: #f9f6f2; }
.tile-256 { background-color: #edcc61; color: #f9f6f2; }
.tile-512 { background-color: #edc850; color: #f9f6f2; }
.tile-1024 { background-color: #edc53f; color: #f9f6f2; }
.tile-2048 { background-color: #edc22e; color: #f9f6f2; }

button {
  margin-top: 15px;
  padding: 8px 12px;
  font-size: 16px;
}

